<html>

<body>
    <table>
        <tr>
            <th>cty_code</th>
            <th>co_name</th>
            <th>cty_code</th>
        </tr><% countries.forEach((countries)=>{%><tr>
            <td><%= countries.co_code %></td>
            <td><%= countries.co_name %></td>
            <td><%= countries.co_details %></td>
            <td>
               <a href="http://localhost:3000/updateCountry/<%= countries.co_code %>"> <button type="button">Update</button></a>
            </td> 
            <td>
                <a href="/countries/<%= countries.co_code %>"> <button type="button">Delete</button></a>
            </td> 
        </tr>
        <%})%>
        </table
      
</body>


</html>